<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>769626553409-iuad2950iuio6eip8e9cprjp6gj1oal0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.769626553409-iuad2950iuio6eip8e9cprjp6gj1oal0</string>
	<key>API_KEY</key>
	<string>AIzaSyCwPnv55Ugn5nyg1vfWHakfXTZ6UChg5ao</string>
	<key>GCM_SENDER_ID</key>
	<string>769626553409</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.moviereviewsapp</string>
	<key>PROJECT_ID</key>
	<string>movieswatchedapp</string>
	<key>STORAGE_BUCKET</key>
	<string>movieswatchedapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:769626553409:ios:875de79ab30f0b65df1ac0</string>
</dict>
</plist>